.fundo{
    background-image: url("img/atendimento.png");
}
.concluido{
    background-image: url("img/case-de-sucesso.png");
}
h1{
    width: 200px;
    height: 150px;
    align: center;
}
h2 {
    color: rgb(125, 134, 177);
    text-shadow: rgb(65, 48, 94);
}
h3 {
    text-shadow: rgb(65, 48, 94);
}
p {
    text-shadow: rgb(234, 231, 238);
    color: #f0f8ff;
}
.credenciais {
    text-align: center;
}
footer {
    text-align: center;
    position: absolute;
    bottom: 0%;
    width:100%;
}
.cor {
    color: #000000;
}